.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

 .btn button {
  background-color: #4ECCA3;   /* button color */
  color: #ffffff;              /* text color */
  font-size: 2.2rem;            /* little bit more than 2rem */
  padding: 12px 28px;           /* spacing inside button */
  border: none;                 /* remove default border */
  border-radius: 8px;           /* smooth corners */
  cursor: pointer;  
  font-family:'Indie Flower', cursive;
  margin-bottom: 30px;   /* adjust value as you like */
  text-align: center;            /* hand cursor on hover */
}